<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Commerce365\CustomerPrice\Service\PriceDataBuilder">
        <plugin name="mycustom_customize_price_data"
                type="MyCustom\CustomerPrice\Plugin\CustomizePriceData"
                sortOrder="10"/>
    </type>
</config>
